@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&family=Roboto+Condensed&display=swap');

*, *:after, *:before {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Biennale";
    src: url('../fonts/Biennale\ Regular.otf');
}

.clickable {
    color: inherit;
    font-size: 24px;
    transition: all 320ms ease-in-out;
    text-decoration: none;

    font-weight: 100 !important;
    cursor: pointer;
}

.clickable:hover {
    color: pink;
}

body {
    background: #1e1e1e;
    color: #fff;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    
    width: 100vw;
    height: 100vh;

    font-family: "Roboto";

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
